*{
    box-sizing: border-box;
    /* margin: 0%;
    padding: 0%; */
}

body{
    background-color: black;
    font-family: 'Big Shoulders Stencil Display', cursive; 
    text-align: center;
    color: gold;

}
image { 
    width: 100%

}
.intro{
    text-align: center;
    color: rgb(236, 15, 236);  

} 
#main{ 
    font-size: 3rem;
    text-align: center;

}
figure{
    width: 90vw;
    margin: auto;;
    background-color: rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    align-items: center;

}
figure img{
    width: 90vw;
    padding: 1rem;

}

figcaption{
    color:black;
}
p{
/* padding:1rem 4rem */

ul{
   padding: 1rem;
   list-style: square;
   padding-left: 3rem; 
}


@media screen and (min-width: 768px;)
    main{
        padding: 0 6rem;
    }

 @media screen and (min-width: 1280px){
     main{
            padding: 0 10rem;
     }
 }
 

